# Sürüm kontrolü
.git
.gitignore

# Python derleme ve bytecode kalıntıları
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# PyInstaller çıktıları (Localde oluşanların içeri girmesini engeller)
build/
dist/
*.spec.bak

# Sanal ortamlar
.venv/
venv/
ENV/

# IDE ve işletim sistemi kalıntıları
.vscode/
.idea/
.DS_Store
Thumbs.db

build
dist

.git
.github

.vscode

game.log

test.py

Dockerfile
build.sh

settings
settings.json

achievements.dat
device_id.dat
values.dat
game_data.dat

saves
secret_keys