.venv/
__pycache__/
.vscode/

saves/
settings
securedvars
game.log
*.save
test.py
test2.py

dist/
build/

*.spec
_update/
build.sh
private_key.pem
secret_keys/
settings.json

achievements.dat
device_id.dat
values.dat
game_data.dat